/* Large devices (laptops/desktops, 992px and up) */
    @media only screen and (min-width: 992px) {
        body{
			display:none;
		}
    } 

    /* Extra large devices (large laptops and desktops, 1200px and up) */
    @media only screen and (min-width: 1200px) {
        body{
			display:none;
		}
    }
html,body{
	margin-left: 0;
	margin-top: 0;
	margin-bottom: 0;
	width: 100%;
	font-family:"Trebuchet MS", Helvetica, sans-serif;
	color : black;
	background-color: #F5F5F5;
}
a,a:visited,a:active {text-decoration: none; color : #f60d2b; }
a:hover{color : #0000ff;}
#mbtn:hover, #mbtnx:hover{
    background-color: #F5F5F5;
	color : #0000ff;
}
h1{
	font-size: 30px;
	font-weight : normal;
	padding: 2px;
	text-align:left;
	margin-left: 5px;
	margin-top: 20px;
	margin-bottom: 10px;
	width: auto;
	background-color: white;
	font-family: ubuntu,sans-serif;
	color: #111;
}@media screen and (max-width: 768px) {h1{width: 99%;padding: 1px;padding-top: 5px;padding-bottom: 5px;font-size:16px;}}
a{
	font-size: 15px;
	padding: 5px;
	text-align:center;
	margin : 5px
}
h2{
	font-size: 20px;
	font-weight : bold;
	padding: 2px;
	text-align:left;
	margin-left: 5px;
	margin-top: 20px;
	margin-bottom: 10px;
	width: auto;
	background-color: white;
	font-family: ubuntu,sans-serif;
	color: #111;
}@media screen and (max-width: 768px) {h1{width: 99%;padding: 1px;padding-top: 5px;padding-bottom: 5px;font-size:16px;}}

p,strong{
	font-size: 15px;
	padding: 3px;
	text-align: justify;
	margin : 5px;
	color: #7e7e7e;
	font-family: lato,sans-serif;
}@media screen and (max-width: 768px) {p {margin : 3px}}
h2{font-weight : normal;}
ul{font-size: 12px;}
h3{
	font-size: 12px;
	padding: 5px;
	text-align:left;
	width: auto;
	height:auto;
}
hr{ border: 0.5px solid #e8e8e8;}
table {width: 100%;}
td{vertical-align:top; text-align:left;}
#top{
	background: #131418;
	margin-left: 0;
	margin-top: 0;
	border-bottom: 2px solid #bd081c;
	margin-bottom: 10px;
	box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
}
#logo{
	margin: auto;
	width: 960px;
	height: 50px;
	background: #131418 url(https://live.staticflickr.com/65535/48205003352_dcdd436d82_o.png) top left no-repeat;
}@media screen and (max-width: 768px) {#logo{width: 100%; background: #131418 url(https://live.staticflickr.com/65535/48205003352_dcdd436d82_o.png) top center no-repeat}}
#mbtn{display :block;float: right;text-align: center;font-size: 15px;font-weight:bold;padding: 15px;padding-top: 15px;padding-bottom: 13px;color: white;}@media screen and (max-width: 768px) {#mbtn{visibility: hidden; display:none;}}
#BodyMain {
	margin: auto;
	width: 960px;
	padding: 5px;
	margin-bottom: 10px;
}@media screen and (max-width: 768px) {#BodyMain{width: 94%;padding-left: 0px;padding-right: 0px;overflow:hidden;}}
.leftcont{float:left; width: 650px;height:auto; border: 1px solid #e8e8e8;background: white; padding: 0;}@media screen and (max-width: 768px) {.leftcont{width: 99%;float:left; margin: 0;margin-bottom: 5px; overflow:hidden;}}
.rightcont{float:right; width: 300px;height:auto; border: 1px solid #e8e8e8;background: white; padding: 0;margin-bottom: 10px;}@media screen and (max-width: 768px) {.rightcont{visibility: hidden;  display: none}}
#BodySecond {
	padding: 15px;
	margin-bottom: 0;
	border-top: 2px solid #fb0202;
	background: #1c232f;
}@media screen and (max-width: 768px) {#BodySecond{width: 100%;padding-left: 0px;padding-right: 0px;}}
.msg{width: 100%;padding: 1%;}
#advertisement{margin-bottom: 12px;}
#foot{
	margin: auto;
	width: 950px;
	font-size: 12px;
	color : #ffffff;
	text-align : right;
}@media screen and (max-width: 768px) {#foot{width: 96%;}}
.clear{clear:both;}
.show{width: 98%; padding: 1%;}
.usershow{width: 98%; padding: -2%;}@media screen and (max-width: 768px) {.usershow{visibility: hidden;  display: none}}
.box{float:left; width: 24.6%; margin: 0.2%; margin-bottom: 1%; margin-top: 1%; overflow : hidden ;}
.box1{float:left; width: 19%; margin: 0.5%; margin-bottom: 1%; margin-top: 1%; overflow : hidden ;}
.thumb{width: 100%; padding:0; padding-top:0; background-color: white; margin-left: -5%;}
.vidboxr{float:left; width: 98%; height:68px; margin: 2px; background-color: #fff;border-bottom: 1px solid #e8e8e8; padding: 1px; overflow : hidden; display : block;}}@media screen and (max-width: 768px) {#foot{width: 99%;}}
.thumba{width: 90px; height:62px; background-color: white; margin-left: -8px;}
.vidtitle{font-size: 13px; text-align:left;}
.vidtitlecat{font-size: 12px; text-align:left; color:#ccc;}
.boxR{float:left; width: 141px; height:177px; margin: 2px; background-color: #F5F5F5; border: 2px solid #e8e8e8; overflow : hidden ;}
.thumbR{width: 141px; height:177px; padding:0; padding-top:0; background-color: white;}
#nav {margin-bottom: -5px;}
#fanback {
display:none;
background:rgba(0,0,0,0.8);
width:100%;
height:100%;
position:fixed;
top:0;
left:0;
z-index:99999;
}
#fan-exit {
width:100%;
height:100%;
}
#fanbox {
width:336px; 
height:290px; 
position:fixed; 
left:50%; 
top:20%; 
margin-left:-168px;
background:white;
}
#fanclose {
float:left;
cursor:pointer;
height:15px;
font-weight: bold;
font-size:12px;
color:#212121;
padding-left: 5px;
}
.remove-borda {
height:0px;
width:300px;
margin:0 auto;
background:#F3F3F3;
position:relative;
margin-left:20px;
}
#linkit a.visited,#linkit a,#linkit a:hover {
color:#80808B;
font-size:10px;
margin: 0 auto 5px auto;
float:center;
}
